# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.sqlite3
*.log
*.env
*.env.production
*.env.development
venv/
env/
.idea/
.vscode/
.env*


# Node / React
frontend/node_modules/
frontend/build/
frontend/.env

# macOS
.DS_Store

# Logs
*.log